
    <li>
        <a href="{{ path('manager_descriptor') }}">
            <i class="glyphicon glyphicon-tag"></i> descriptors
        </a>
    </li>
    <li>
        <a href="{{ path('manager_synonym') }}">
            <i class="glyphicon glyphicon glyphicon-asterisk"></i> synonyms
        </a>
    </li>
    <li>
        <a href="{{ path('manager_interfero') }}">
            current available interfero
        </a>
    </li>
