<ul id="managerMenu">
    <a  class="menuTitle" href="{{ path('manager_homepage') }}">Manager</a>
    <li><a href="{{ path('manager_descriptor') }}">descriptors</a></li>
    <li><a href="{{ path('manager_synonym') }}">synonyms</a></li>
    <li><a href="{{ path('manager_interfero') }}">current available interfero</a></li>
</ul>