{% extends "base.html.twig" %}

{% block body %}
<style>
    .vis-item .vis-item-overflow {
        overflow: visible;
    }
</style>

    <div class="row">
        <div class="col-lg-12">
            <h1>Breakdown in timeline</h1>
        </div>
    </div>

    <div id="visualization"></div>

    <script>



        function getTimelineData() {

            var jsonNodesData = $.ajax({
                url: '{{ path('analyzer_ajax_breakdown_timeline' )  }}',
                dataType: 'json',
                async:false
            }).done(function (results) {
                output = [];
                results.forEach(function(o) {
                    tmp = {id: o.idField,content: o.valueField,start:  o.startField,end: o.endField};
                    output.push(tmp);
                });



            });
            return output;
        }

        // OM element where the Timeline will be attached
        var container = document.getElementById('visualization');

        // Create a DataSet (allows two way data-binding)
        /*var items = new vis.DataSet([
            {id: 1, content: 'item 1', start: '2014-04-20'},
            {id: 2, content: 'item 2', start: '2014-04-14'},
            {id: 3, content: 'item 3', start: '2014-04-18'},
            {id: 4, content: 'item 4', start: '2014-04-16', end: '2014-04-19'},
            {id: 5, content: 'item 5', start: '2014-04-25'},
            {id: 6, content: 'item 6', start: '2014-04-27', type: 'point'}
        ]);*/
        var items = new vis.DataSet(getTimelineData());
        console.log(items);
        // Configuration for the Timeline
        var options = {};

        // Create a Timeline
        var timeline = new vis.Timeline(container, items, options);
    </script>
{% endblock %}
