<li>
    <a href="{{ path('analyzer_homepage') }}">
        <i class="glyphicon glyphicon-calendar"></i> overview
    </a>
</li>
    <li>
        <a href="{{ path('analyzer_breakdownTimeline') }}">
            <i class="glyphicon glyphicon-calendar"></i> breakdown timeline (only closed)
        </a>
    </li>
    <li>
        <a href="{{ path('analyzer_descriptorBar') }}">
            <i class="glyphicon glyphicon-signal"></i> descriptors (bars chart & tree)
        </a>
    </li>
