<ul id="operatorMenu">
    <a class="menuTitle" href="{{ path('operator_homepage') }}">Operator</a>
    <li><a href="{{ path('operator_breakdown') }}">breakdown list</a></li>
    <li><a href="{{ path('operator_breakdown_timeline') }}">breakdown timeline</a></li>
    <li><a href="{{ path('operator_breakdown_new') }}">create new breakdown</a></li>
</ul>