
    <li>
        <a href="{{ path('operator_breakdown') }}">
            <i class="glyphicon glyphicon-th-list"></i> breakdown list
        </a>
    </li>
    <li>
        <a href="{{ path('operator_breakdown_timeline') }}">
            <i class="glyphicon glyphicon-calendar"></i> breakdown timeline
        </a>
    </li>
    <li>
        <a href="{{ path('operator_breakdown_new') }}">
            <i class="glyphicon glyphicon-flash"></i> create new breakdown
        </a>
    </li>
